<div id="about" class="ribbon show-for-large-up">
  <div class="ribbon-stitches-top"></div>
  <strong class="ribbon-content"><h1>About Sean Snyder</h1></strong>
  <div class="ribbon-stitches-bottom"></div>
</div>

<br>
<br>

<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
    <li class="text-center"><%= image_tag "https://avatars1.githubusercontent.com/u/6605437?v=3&s=460", width: '200px', height: '200px', class: 'th label round' %></li>
    <li class="small-only-text-center"><p>Currently learning Web Development<br>Ruby, Rails, Javascript<br>Bachelor's of Information Technology<br>Sarcastic Pretzel Tycoon Heir</p></li>
    <li class="small-only-text-center text-left"><p>Skills:<br>Managed Retail Teams<br>Problem Solver<br>People Person</p></li>
</ul>