<div id="about" class="ribbon show-for-large-up">
  <div class="ribbon-stitches-top"></div>
  <strong class="ribbon-content"><h1>About Sean Snyder</h1></strong>
  <div class="ribbon-stitches-bottom"></div>
</div>

<br>
<br>

<ul class="small-block-grid-3 show-for-medium-up">
    <li><%= image_tag "https://avatars1.githubusercontent.com/u/6605437?v=3&s=460", width: '200px', height: '200px', class: 'th label round' %></li>
    <li><p>Currently self learning Ruby and Rails<br>Likes creating things and laughing too much<br>Pretzel Tycoon Heir</p></li>
    <li><p>Skills:<br>Managed Retail Teams<br>Problem Solver<br>People Person</p></li>
</ul>