<div class="ribbon">
  <div class="ribbon-stitches-top"></div>
  <strong class="ribbon-content"><h1>About Sean Snyder</h1></strong>
  <div class="ribbon-stitches-bottom"></div>
</div>

  <br>
  
<figure>
    <div id="author-image" class="large-3 columns">
      <%= image_tag "https://avatars1.githubusercontent.com/u/6605437?v=3&s=460", width: '200px', height: '200px', class: 'th label round' %>
    </div>
    <h3 class="large-5 columns">
      <p>Currently self learning Ruby and Rails<br>Likes creating things and laughing too much<br>Pretzel Tycoon Heir</p>
    </h3>
    <h3 class="large-4 columns">
      <p>Skills:<br>Managed Retail Teams<br>Problem Solver<br>People Person</p>
    </h3>
</figure>