<div id="about-author" class="row">
  <div class="small-12 columns">
      <div class="ribbon">
        <div class="ribbon-stitches-top">
        </div>
        <strong class="ribbon-content">
          <h1>About Sean Snyder</h1>
        </strong>
        <div class="ribbon-stitches-bottom"></div>
      </div>
      <figure class="row">
          <div id="author-image" class="small-4 columns">
            <%= image_tag "https://avatars1.githubusercontent.com/u/6605437?v=3&s=460", width: '200px', height: '200px', class: 'th label round' %>
          </div>
            <h3 class="small-8 columns">
              <p>Boston, MA<br>Currently teaching myself Ruby and Rails.<br>Likes creating things and laughing too much.<br>Willing to relocate.</p>
            </h3>
    </div>
  </figure>
  </div>
</div>
<p></p>