    <div class="small-4 columns show-for-medium-up">
    <pre class="article-panel"><code>
class LearningRubyRails<br>
  def initialize(blog)<br>
   @blog = blog<br>
   @time = '<%= current_time.strftime("%B %d, %Y") %>'<br>
  end<br>
 end</code></pre>
    </div>