<footer class="footer-distributed">

	<div class="footer-left">

		<h3><%= image_tag "snyderdevlogo.png", class: 'footer-logo' %></h3>

		<p class="footer-company-name">Snyder-Dev &copy; 2015</p>
	</div>

	<div id="contact" class="footer-center">

		<div>
			<i class="fi-marker"></i>
			<p>Boston, Massachusetts</p>
		</div>

		<div>
			<i class="fi-mail"></i>
			<p><a href="mailto:sean.snyder@snyder-dev.com">support@snyder-dev.com</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About</span>
			A blog describing the chronicles of a career change to programming and development.
		</p>

		<div class="footer-icons">
            <%= link_to '<i class="fi-social-twitter"></i>'.html_safe, 'http://www.twitter.com/SnyderRuby' %>
            <%= link_to '<i class="fi-social-github"></i>'.html_safe, 'http://www.github.com/Snyder-' %>
            <%= link_to '<i class="fi-rss"></i>'.html_safe, 'http://www.twitter.com/SnyderRuby' %>
		</div>

	</div>

</footer>