<div id="sidebar">
    <ul>
        <li class="category">Website</li>
        <li><%= link_to "Articles", articles_path %></li>
    </ul>
        
    <ul>
        <li class="category">Social</li>
        <li><%= link_to "Twitter", "http://www.twitter.com/SnyderRuby" %></li>
        <li><%= link_to "Github", "http://www.github.com/Snyder-" %></li>
        <li><%= link_to "New Article", new_article_path %></li>
    </ul>
</div>