<div class="small-4 columns">
    <%= link_to "Home", articles_path %>
</div>
<div class="small-4 columns">
    <%= link_to "About Us", articles_path %>
</div>
<div class="small-4 columns">
    <%= link_to "Contact Us", articles_path %>
</div>
