<h1>Articles</h1>

<% @articles.each do |article| %>
  <strong>
    <ul>
      <%= link_to "#{article.title}", article_path(article) %>
      <%= markdown(article.body) %><br>
      <%= link_to "View", article_path(article, anchor: "disqus_thread") %>
    </ul>
<% end %>

<p>
  <%= link_to "New Article", new_article_path %>
